html, body{
	background-color: white;
}

/* div{border: 1px solid red;}
/* =============== Navbar =============== */
.ty-nav{
	background-color: white;
	color: black;
}

/* =============== Index =============== */
#ty-home{
	background-image: url("../assets/img/contract.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 40px;
	padding-bottom: 40px;
	color: white;
}

#ty-validar{
	background-color: white;
	color: black;
}

#ty-assina{
	background-color: #45b75b;
	color: white;
}

.ty-img-doc{
	width: 100%;
}

/* =============== Login =============== */
#ty-login{
	background-image: linear-gradient(265deg,#43cbff,#688cff);
	padding: 40px 0px;
	color: white;
}

/* =============== Validar =============== */
#ty-validar{
	background-image: linear-gradient(265deg,#43cbff,#688cff);
	padding: 50px 0px;
	color: white;
}

/* =============== Validar =============== */
#ty-upload{
	background-image: linear-gradient(265deg,#43cbff,#688cff);
	padding: 40px 0px;
	color: white;
}

/* =============== Perfil =============== */
#ty-perfil{
	background-image: linear-gradient(265deg,#43cbff,#688cff);
	padding: 40px 0px;
	color: white;
}

/* =============== Outros =============== */
.borderblabla{
	border: 1px solid black;
	height: 720px;
	background-color: white;
}

/* =============== Rodapé =============== */
#ty-rodape{
	background-color: white;
	padding: 30px 0px;
	color: black;
}


/* =============== Links =============== */
a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: #43cbff;
	text-decoration: none;
}

/* =============== Fonts =============== */


.tam{
	height: 100%;
}
