html, body{
	background-color: white;
}

/* div{border: 1px solid red;}
/* =============== Navbar =============== */
.ty-nav{
	background-color: #237620;
	color: black;
}

/* =============== Index =============== */
#ty-home{
	background-color: #303133;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 110px;
	padding-bottom: 70px;
	color: white;
}

#ty-validar{
	background-color: white;
	color: black;
}

#ty-validar{
	/*background-image: linear-gradient(265deg,#43cbff,#688cff);*/
	background-color: #4B4C4F;
	padding-top: 110px;
	padding-bottom: 40px;
	color: white;
}

#ty-assina{
	background-color: #636469;
	color: white;
	padding-top: 110px;
	padding-bottom: 40px;
}

.ty-img-doc{
	width: 100%;
}

/* =============== Valida =============== */
#ty-valida{
	background-color: #303133; 
	padding-top: 110px;
	padding-bottom: 70px;
	color: white;
}

/* =============== Login =============== */
#ty-login{
	background-color: #303133; 
	padding-top: 110px;
	padding-bottom: 70px;
	color: white;
}

/* =============== Validar =============== */
#ty-upload{
	background-color: #303133; 
	padding-top: 110px;
	padding-bottom: 70px;
	color: white;
}

/* =============== Perfil =============== */
#ty-perfil{
	background-color: #303133; 
	padding-top: 110px;
	padding-bottom: 70px;
	color: white;
}

/* =============== Outros =============== */
.borderblabla{
	border: 1px solid black;
	height: 720px;
	background-color: white;
}

/* =============== Rodapé =============== */
#ty-rodape{
	background-color: #002700;
	padding: 30px 0px;
	color: white;
}


/* =============== Links =============== */
a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: #002700;
	text-decoration: none;
}

/* =============== Fonts =============== */
.ty-font-home{
	font-size: 18px;
	text-align: justify;
}

.ty-font-border{
	color: white;
	/*text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;*/
	font-size: 18px;
}

.tam{
	height: 100%;
}
